
body {
  font-family: "Comic Sans MS", Helvetica, sans-serif;
  background-color: #dddddd;
}

div#title {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 0px;
  text-align: center;
  background-color: #000000;}

