/* font and background color for the body of the page */
body {
  /* font */
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  font-variant: normal;
  text-align: left;
  text-decoration: none;
  line-height: 1.5;
  margin: 20px;
  color: #000000;
  background: #dddddd;
}

/* header banner */
header {
  text-align: center;
  padding: 20px;
  background-color: #000000;
  }
header img {
  max-width: 100%;
  height: auto;
  }

/* sections */
section {
  margin-top: 20px;
  }

/* titles */
h2 {
  color: #aa0000;
  }

/* paragraphs */
p {
  line-height: 1.6;
  color: #333333;
  }

/* ************************************************************************** */

/* tables */
#research-areas-figures {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  }
#research-areas-figures th, #research-areas-figures td {
  border: 0px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  }

/* images */
#research-areas-figures img {
  max-width: 100%;
  height: auto;
  }

/* italics */
#research-areas-figures i {
  font-style: italic;
  }

/* ************************************************************************** */

/* tables */
#research-areas-papers {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  }
#research-areas-papers th, #research-areas-papers td {
  border: 0px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top;
  text-align: left;
  line-height: 1.2; 
  color: #333333;
  }

/* images */
#research-areas-papers img {
  max-height: 100%;
  width: auto;
  }

/* ************************************************************************** */
